$breadcrumb-margin-bottom: 20px;

$body-bg: #f4f3f6;

$font-size-base: .85rem;
$table-border-color: #e6e6e6;
$table-cell-padding: 0.55rem;

$card-border-color: #e6e6e6;
$card-spacer-x: .7rem;
$card-spacer-y: .6rem;
